AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=naidp-documents
S3_VECTORS_BUCKET_NAME=naidp-vectors
S3_VECTORS_INDEX_NAME=naidp-index
BEDROCK_MODEL_ID=global.anthropic.claude-sonnet-4-6
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
